<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- <div class="login">
        <form class="nav" action="/login" method="POST">
            <input type="text" class="credInput loginPhone" placeholder="Enter Phone" required name="phone">
            <input type="password" class="credInput loginPin" placeholder="Enter pin" required name="password">
            <button class="loginBtn btn" type="submit">Login</button>
            <button class="guideBtn btn">Guide</button>
        </form> -->
        <h1 style="text-align: center; color: blue;">Welcome, to dictionary world with related images about word</h1>
        <h1 style="text-align: center; color: blue;">Wanna create new Account!!</h1>
        <form class="signUpContainer" action="/signup_" method="POST">
            <div class="signUp">
                <input type="text" class="credInput signName" placeholder="Enter name" required name="name">
                <input type="text" class="credInput signPhone" placeholder="Enter phone" required name="phone">
                <input type="password" class="credInput signPin" placeholder="Enter password" required name="password">
                <input type="email" class="credInput signSrc" placeholder="Email" required name="email">
                <p class="exists"></p>
                <p class="signedIn"></p>
                <button class="signUpButton btn" type="submit">Sign Up</button>
                
            </div>
        </form>
        <form action="/login" method="GET" class="sign--up--login">
            <button class="btn--login--page" type="submit">Login Page</button>
        </form>
    </div>
</body>
</html>