<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="views/Login/style.css">

</head>
<body>
    <h1 style="text-align: center; color: blue;">Welcome, to the login page</h1>
    <div class="container">
        <form class="login--form" action="/dictionary" method="POST">
            <input type="text" class="credInput loginPhone" placeholder="Enter Phone" required name="phone">
            <input type="password" class="credInput loginPin" placeholder="Enter pin" required name="password">
            <button class="loginBtn btn" type="submit">Login</button>
        </form>
        <form action="/signup" method="GET">
            <button class="btn--signup--page" type="submit">Signup page</button>
        </form>
    </div>
</body>
</html>
